# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Testing
coverage
.nyc_output

# Uploads
packages/server/uploads/*
!packages/server/uploads/.gitkeep

# Temp files
*.tmp
*.temp
.cache
